*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#calculator{
    background-color: hsl(0, 0%, 10%);
    max-width: 500px;
    border-radius: 20px;
    padding: 20px;
    overflow: hidden;
    
}

#calculator #displayResult{
    border: none;
    padding: 20px;
    width: 100%;
    font-size: 3rem;
    height: 100px;
    background-color: hsl(0, 0%, 20%);
    margin-bottom: 10px;
    border-radius: 20px;
    color: white;
    overflow: hidden;
}

#calculator #keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

#calculator #keys .operator{
    background-color: orange;
}

#calculator #keys button{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 3rem;
    cursor: pointer;
    background-color: hsl(0, 0%, 30%);
    color: white;
    border: none;
    font-weight: bold;
}

#calculator #keys button:hover{
    background-color: hsl(0, 0%, 20%);
}

#calculator #keys .operator:hover{
    background-color: hsl(39, 100%, 40%);
}

#calculator #keys button:active{
    background-color: hsl(0, 0%, 30%);
}

#calculator #keys .operator:active{
    background-color: hsl(39, 100%, 50%);
}